footer {
    background-color: black;
    padding: 30px;
    text-align: center;
    color: white;
}

footer p {
    color: white;
}

.contact-info p{
    color: var(--yellow);
}

.copyright {
    color: var(--yellow);
}

h4 {
    color: white;
}

hr {
    color: white;
    width: 8.79rem;
    margin: 2.58rem auto 1rem;
}

