@import url(/css/import/nav.css);
@import url(/css/import/projects.css);
@import url(/css/import/footer.css);
@import url(/css/import/about.css);

:root {
    --yellow: #dfb15b;
}

body {
    margin: 0;
    padding: 0;
    font-family: -------;
    background: linear-gradient(70deg,#13131A, #35383D);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 600;
}

h1, h2, p {
    color: var(--yellow);
    line-height: 2;
}

p {
    font-size: 20px;
}


/* home */

.home {
    padding: 20px;
}

.home-page, .projects, .about {
   text-align: center;
   /* padding: 5rem; */
}

.home-page .giphy {
    width: 70px;
    height: 90px;
}

@media (min-width: 750px) {
    h1 {
        font-size: 3rem;
    }
    
    .home-page p {
        font-size: 2rem;
    }

    .home-page .giphy {
        width: 90px;
        height: 96px;
    }

}