@import url(/css/import/nav.css);
@import url(/css/import/projects.css);

:root

body {
    margin: 0;
    padding: 0;
    font-family: -------;
    background: linear-gradient(70deg,#13131A, #35383D);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 600;
}

h1, h2, p {
    color: yellow;
}
/* home */

.home {
    padding: 30px;
}

.home-page, .projects, .about {
   text-align: center;
}

/* button */

.btn {
    color: yellow;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
    box
}